
.Games {
    position: relative;
    padding-top: 0px;
    padding-bottom: 59px;
    min-height: 3970px;
}

.Games-header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 79px;
    padding-top: 100px;


    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
}


/* Steps */

.Games-store-steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    column-gap: 137px;
    align-items: center;
    justify-content: center;
}

.step {
    padding-top: 110px;
    max-width: 400px;
}

.step-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 100px;
}

.step-heading{
    display: flex;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

 /* Footer */

.Games-footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    height: 677px;
    line-height: 79px;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
}

.Games-footer-heading-we {
    font-weight: 600;
    color: #103ACE;
}

.Games-footer-heading-make {
    font-weight: 300;
}

.Games-footer-heading-android {
    font-weight: 600;
    color: #FA1572; 
}

.Games-footer-heading-and {
    font-weight: 100;
}

.Games-footer-heading-ios {
    font-style: italic;
    font-weight: 900;
}

.Games-footer-heading-found {
    font-style: italic;
    font-weight: 400;
}

.Games-footer-heading-market {
    color: #FD782C;
}

.Games-footer-heading-appstore {
    color: #7B15F5;
}